.userlist {
    width: 55vw;
    max-height: 600px;
    border-collapse: collapse;
}

#table_cont {
    margin: 25px 75px;
    float: left;
}

#table_cont thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: darkslateblue;
}

.clusterize-scroll {
    max-height: 510px;
}

.table_header {
    background-color: darkslateblue;
    color: white;
}

.table_item {
    border: 1px solid;
}