.userlist{
    width:55vw;
    max-height: 600px;
}

.table_scroll{
    overflow-y: auto;
    height: 530px;
}

.table_cont{
    margin: 25px 75px;
    float: left;
}

.table_header{
    background-color: darkslateblue;
    color:white;
    border:2px solid ;
    border-color: darkslateblue;
    border-radius: 5px;
}

.table_item{
    border: 1px solid;
}